* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black-200: #282828;
    --black-300: #1f1f1f;
    --black-400: #161616;
    --black-500: #0d0d0d;

    --yellow-400: #f1bf22;
    --yellow-500: #f3bf22;
    --yellow-700: #f1950b;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #f3bf22;
    background-image: linear-gradient(180deg, #f3bf22 30%, #0d0d0d 30%);
}

body,
textarea,
input,
button {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
}

button {
    cursor: pointer;
}

@media (max-width: 768px) {
    body {
        background-color: #f3bf22;
        background-image: linear-gradient(180deg, #f3bf22 62%, #0d0d0d 38%);
    }
}
