.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--black-400);
    padding: 0.4rem;

    border-radius: 10px;

    border: none;
    cursor: pointer;
    outline: none;

    color: aliceblue;
    font-weight: bold;
}

.buttonsContainer:hover {
    background-color: var(--black-400);
}

.optionsContainer {
    background-color: var(--black-400);
    border: none;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.optionsContainer:hover {
    filter: brightness(150%);
    background-color: var(--black-400);
}

.wrapper button img {
    height: 1.5625rem;
    width: 1.5625rem;
}

.wrapper > button > span {
    color: white;
    font-size: 0.6875rem;
    text-align: center;
    font-weight: bold;
}
