.buttonsContainer {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--black-400);
    padding: 0.4rem;

    border-radius: 10px;

    border: none;
    cursor: pointer;
    outline: none;

    color: aliceblue;
    /* font-weight: bold; */
}

.buttonsContainer:hover {
    background-color: var(--black-400);
}

.optionsContainer {
    background-color: var(--black-400);
    border: none;
    cursor: pointer;
    outline: none;

    text-align: center;
    /* background-color: aqua; */
}

.optionsContainer:hover {
    filter: brightness(150%);
    background-color: var(--black-400);
}

.buttonsContainer button img {
    height: 1.125rem;
    width: 1.125rem;
    width: 100%;
}

.buttonsContainer > button > span {
    color: white;
    font-size: 0.6875rem;
    text-align: center;
    font-weight: bold;
}
