.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 60%;
    color: whitesmoke;
}

.stepContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    gap: 0.5rem;
}

.stepContainer h2 {
    text-shadow: 0 0 15px var(--yellow-500);
    width: 100%;
    text-align: center;
    font-size: 2.1rem;
    font-family: Lobster;
}

/* TODO: Arrumar o min() */
.stepContainer hr {
    /* min-width: 10rem; */
    width: 100%;
    height: 2px;
    border: none;
    background-color: var(--yellow-700);
}

.wrapper p {
    text-align: center;
    max-width: 80%;
}

@media (max-width: 412px) {
    .stepContainer hr {
        /* min-width: 50px; */
        display: none;
    }
}
